## Gather

In [1]:
import pandas as pd

In [2]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

## Assess

In [3]:
patients.T

,0,1,2,3,4,5,6,7,8,9,...,493,494,495,496,497,498,499,500,501,502
patient_id,1,2,3,4,5,6,7,8,9,10,...,494,495,496,497,498,499,500,501,502,503
assigned_sex,female,female,male,male,male,male,female,female,male,female,...,female,female,male,male,male,male,male,female,female,male
given_name,Zoe,Pamela,Jae,Liêm,Tim,Rafael,Mary,Xiuxiu,Dsvid,Sophie,...,Fen,Sirkka,Hajime,Alexander,Masataka,Mustafa,Ruman,Jinke,Chidalu,Pat
surname,Wellish,Hill,Debord,Phan,Neudorf,Costa,Adams,Chang,Gustafsson,Cabrera,...,Chin,Piirainen,Tsukada,Hueber,Murakami,Lindström,Bisliev,de Keizer,Onyekaozulu,Gersten
address,576 Brown Bear Drive,2370 University Hill Road,1493 Poling Farm Road,2335 Webster Street,1428 Turkey Pen Lane,1140 Willis Avenue,3145 Sheila Lane,2687 Black Oak Hollow Road,1790 Nutter Street,3303 Anmoore Road,...,1826 Poplar Chase Lane,4102 Ritter Avenue,4111 Thunder Road,3868 Freed Drive,1179 Patton Lane,2530 Victoria Court,494 Clarksburg Park Road,649 Nutter Street,3652 Boone Crockett Lane,2778 North Avenue
city,Rancho California,Armstrong,York,Woodbridge,Dothan,Daytona Beach,Burbank,Morgan Hill,Kansas City,New York,...,Boise,Roseville,San Mateo,Stockton,Tulsa,Milton Mills,Sedona,Overland Park,Seattle,Burr
state,California,Illinois,Nebraska,NJ,AL,Florida,NV,CA,MO,New York,...,ID,MI,CA,California,OK,ME,AZ,MO,WA,Nebraska
zip_code,92390,61812,68467,7095,36303,32114,84728,95037,64105,10011,...,83702,48066,94403,95204,74116,3852,86341,64110,98109,68324
country,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States,...,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
contact,951-719-9170ZoeWellish@superrito.com,PamelaSHill@cuvox.de+1 (217) 569-3204,402-363-6804JaeMDebord@gustr.com,PhanBaLiem@jourrapide.com+1 (732) 636-8246,334-515-7487TimNeudorf@cuvox.de,386-334-5237RafaelCardosoCosta@gustr.com,775-533-5933MaryBAdams@einrot.com,XiuxiuChang@einrot.com1 408 778 3236,816-265-9578DavidGustafsson@armyspy.com,SophieCabreraIbarra@teleworm.us1 718 795 9124,...,FenChin@gustr.com+1 (208) 388-1065,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,650-570-4896HajimeTsukada@dayrep.com,AlexanderHueber@jourrapide.com1 209 762 2320,MasatakaMurakami@einrot.com+1 (918) 984-9171,207-477-0579MustafaLindstrom@jourrapide.com,928-284-4492RumanBisliev@gustr.com,816-223-6007JinkedeKeizer@teleworm.us,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,PatrickGersten@rhyta.com402-848-4923
birthdate,7/10/1976,4/3/1967,2/19/1980,7/26/1951,2/18/1928,8/31/1931,11/19/1969,8/13/1958,3/6/1937,12/3/1930,...,3/18/1997,1/16/1942,9/5/1972,9/12/1942,8/19/1937,4/10/1959,3/26/1948,1/13/1971,2/13/1952,5/3/1954
weight,121.7,118.8,177.8,220.9,192.3,183.9,146.3,158,163.9,194.7,...,195.1,126.3,168.1,194,155.1,181.1,239.6,171.2,176.9,138.2
height,66,66,71,70,27,70,65,60,66,64,...,68,67,66,72,72,72,70,67,67,71
bmi,19.6,19.2,24.8,31.7,26.1,26.4,24.3,30.9,26.5,33.4,...,29.7,19.8,27.1,26.3,21,24.6,34.4,26.8,27.7,19.3

In [4]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nørgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

In [5]:
adverse_reactions

     given_name     surname           adverse_reaction
0         berta  napolitani  injection site discomfort
1          lena        baer               hypoglycemia
2        joseph         day               hypoglycemia
3        flavia  fiorentino                      cough
4       manouck     wubbels          throat irritation
5       jasmine       sykes               hypoglycemia
6        louise     johnson               hypoglycemia
7       albinca     komavec               hypoglycemia
8           noe      aranda               hypoglycemia
9         sofia   hermansen  injection site discomfort
10        tegan     johnson                   headache
11         abel     yonatan                      cough
12    abdul-nur         isa               hypoglycemia
13         leon      scholz  injection site discomfort
14     gabriele     saenger               hypoglycemia
15       jia li        teng                     nausea
16        jakob    jakobsen               hypoglycemia
17  christopher    woodward                     nausea
18          ole    petersen               hypoglycemia
19       finley    chandler                   headache
20     anenechi       chidi               hypoglycemia
21     miłosław  wiśniewski  injection site discomfort
22        lixue       hsueh  injection site discomfort
23        merci      leroux               hypoglycemia
24         kang         mai  injection site discomfort
25       elliot  richardson               hypoglycemia
26      clinton      miller          throat irritation
27       idalia       moore               hypoglycemia
28       xiuxiu       chang               hypoglycemia
29         alex    crawford               hypoglycemia
30       monika      lončar               hypoglycemia
31       steven         roy                   headache
32      cecilie      nilsen               hypoglycemia
33    krisztina      magyar               hypoglycemia

In [6]:
patients.surname.value_counts()

Doe              6
Taylor           3
Jakobsen         3
Bùi              2
Berg             2
Silva            2
Johnson          2
Nilsen           2
Cindrić          2
Souza            2
Liễu             2
Kowalczyk        2
Lund             2
Correia          2
Aranda           2
Tạ               2
Grímsdóttir      2
Lâm              2
Schiavone        2
Gersten          2
Tucker           2
Parker           2
Cabrera          2
Collins          2
Ogochukwu        2
Hueber           2
Lương            2
Dratchev         2
Kadyrov          2
Woźniak          2
                ..
Hrafnsdóttir     1
Archer           1
Arsanukayev      1
Lê               1
Tryggvadóttir    1
Su               1
Martinsson       1
Terrazas         1
Villadsen        1
Allan            1
Ouwendijk        1
Montez           1
Clapp            1
Abdulov          1
Macleod          1
Tikhonov         1
Ghanem           1
Michalčíková     1
Vukelić          1
Hsu              1
Frederiksen      1
Bidwill          1
Bowden           1
Amanuel          1
Fiorentino       1
Richardson       1
Nucci            1
Bois             1
Werner           1
Andreyeva        1
Name: surname, Length: 466, dtype: int64

In [7]:
patients.address.value_counts()

123 Main Street               6
2778 North Avenue             2
648 Old Dear Lane             2
2476 Fulton Street            2
1333 Comfort Court            1
1343 Clair Street             1
1346 Nicholas Street          1
3542 Robinson Court           1
4223 Chestnut Street          1
2246 Pheasant Ridge Road      1
4278 Hart Country Lane        1
2641 Michael Street           1
2146 Willow Greene Drive      1
4556 Oakdale Avenue           1
4789 Devils Hill Road         1
3781 Hamill Avenue            1
1840 Millbrook Road           1
2957 Feathers Hooves Drive    1
1510 Allison Avenue           1
383 Marion Street             1
3072 Braxton Street           1
3165 Upton Avenue             1
3423 Burning Memory Lane      1
1965 Crestview Manor          1
4795 Better Street            1
3731 Swick Hill Street        1
4213 Isaacs Creek Road        1
3417 Bassel Street            1
430 Canis Heights Drive       1
649 Nutter Street             1
                             ..
350 Ross Street               1
4870 Corbin Branch Road       1
3113 Timber Ridge Road        1
1330 Lincoln Street           1
541 Green Hill Road           1
3539 Bottom Lane              1
4243 Hidden Meadow Drive      1
1790 Nutter Street            1
826 Broad Street              1
4912 Hart Country Lane        1
2945 Ferguson Street          1
4155 Raccoon Run              1
3343 Jefferson Street         1
3958 Liberty Avenue           1
3893 Eva Pearl Street         1
4093 Smith Street             1
2544 Worley Avenue            1
3499 Baker Avenue             1
2607 Water Street             1
77 Juniper Drive              1
2661 Russell Street           1
2636 Benson Park Drive        1
1808 Stuart Street            1
550 Cliffside Drive           1
272 Boone Crockett Lane       1
632 Peaceful Lane             1
4334 Black Oak Hollow Road    1
2011 Eastland Avenue          1
4894 Chandler Hollow Road     1
153 Fieldcrest Road           1
Name: address, Length: 483, dtype: int64

In [8]:
patients[patients.address.duplicated()].T

,29,219,229,230,234,237,242,244,249,251,257,264,269,277,278,282,286,296,502
patient_id,30,220,230,231,235,238,243,245,250,252,258,265,270,278,279,283,287,297,503
assigned_sex,male,male,male,female,female,male,male,male,male,male,male,female,female,male,female,female,male,female,male
given_name,Jake,Mỹ,John,Elisabeth,Martina,John,John,John,Benjamin,John,Jin,Wafiyyah,Flavia,John,Generosa,Sandy,Lewis,Chỉ,Pat
surname,Jakobsen,Quynh,Doe,Knudsen,Tománková,Doe,O'Brian,Doe,Mehler,Doe,Kung,Asfour,Fiorentino,Doe,Cabán,Taylor,Webb,Lâm,Gersten
address,648 Old Dear Lane,NaN,123 Main Street,NaN,NaN,123 Main Street,NaN,123 Main Street,NaN,123 Main Street,NaN,NaN,NaN,123 Main Street,NaN,2476 Fulton Street,NaN,NaN,2778 North Avenue
city,Port Jervis,NaN,New York,NaN,NaN,New York,NaN,New York,NaN,New York,NaN,NaN,NaN,New York,NaN,Rainelle,NaN,NaN,Burr
state,New York,NaN,NY,NaN,NaN,NY,NaN,NY,NaN,NY,NaN,NaN,NaN,NY,NaN,WV,NaN,NaN,Nebraska
zip_code,12771,NaN,12345,NaN,NaN,12345,NaN,12345,NaN,12345,NaN,NaN,NaN,12345,NaN,25962,NaN,NaN,68324
country,United States,NaN,United States,NaN,NaN,United States,NaN,United States,NaN,United States,NaN,NaN,NaN,United States,NaN,United States,NaN,NaN,United States
contact,JakobCJakobsen@einrot.com+1 (845) 858-7707,NaN,johndoe@email.com1234567890,NaN,NaN,johndoe@email.com1234567890,NaN,johndoe@email.com1234567890,NaN,johndoe@email.com1234567890,NaN,NaN,NaN,johndoe@email.com1234567890,NaN,304-438-2648SandraCTaylor@dayrep.com,NaN,NaN,PatrickGersten@rhyta.com402-848-4923
birthdate,8/1/1985,4/9/1978,1/1/1975,9/23/1976,4/7/1936,1/1/1975,2/25/1957,1/1/1975,10/30/1951,1/1/1975,5/17/1995,11/3/1989,10/9/1937,1/1/1975,12/16/1962,10/23/1960,4/1/1979,5/14/1990,5/3/1954
weight,155.8,237.8,180,165.9,199.5,180,205.3,180,146.5,180,231.7,158.6,175.2,180,124.3,206.1,155.3,181.1,138.2
height,67,69,72,63,65,72,74,72,69,72,69,63,61,72,69,64,68,63,71
bmi,24.4,35.1,24.4,29.4,33.2,24.4,26.4,24.4,21.6,24.4,34.2,28.1,33.1,24.4,18.4,35.4,23.6,32.1,19.3

In [9]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
171    106.5
51     107.1
270    108.1
198    108.5
48     109.1
478    109.6
141    110.2
38     111.8
438    112.0
14     112.0
235    112.2
307    112.4
191    112.6
408    113.1
49     113.3
326    114.0
338    114.1
253    117.0
321    118.4
168    118.8
1      118.8
350    119.0
207    119.2
265    120.0
341    120.3
       ...
332    224.0
252    224.2
12     224.2
222    224.8
166    225.3
111    225.9
101    226.2
150    226.6
352    227.7
428    227.7
88     227.7
13     228.4
339    229.0
182    230.3
121    230.8
257    231.7
395    231.9
246    232.1
219    237.8
11     238.7
50     238.9
441    239.1
499    239.6
439    242.0
487    242.4
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, Length: 503, dtype: float64

In [10]:
sum(treatments.auralin.isnull())

0

In [11]:
sum(treatments.novodra.isnull())

0