## Relational Databases and pandas

In [1]:
import pandas as pd

In [2]:
###

Imagine this notebook contains all of the gathering code from this entire lesson, plus the assessing and cleaning code done behind the scenes, and that the final product is a merged master DataFrame called *df*.

In [3]:
df = pd.read_csv('bestofrt_master.csv')

In [4]:
df.head(3).T

,0,1,2
ranking,1,2,3
title,The Wizard of Oz (1939),Citizen Kane (1941),The Third Man (1949)
critic_score,99,100,100
number_of_critic_ratings,110,75,77
audience_score,89,90,93
number_of_audience_ratings,874425,157274,53081
review_url,http://www.rogerebert.com/reviews/great-movie-...,http://www.rogerebert.com/reviews/great-movie-...,http://www.rogerebert.com/reviews/great-movie-...
review_text,As a child I simply did not notice whether a m...,“I don't think any word can explain a man's li...,Has there ever been a film where the music mor...
poster_url,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/en/c/ce...,https://upload.wikimedia.org/wikipedia/en/2/21...

In [5]:
###

### 1. Connect to a database

In [6]:
from sqlalchemy import create_engine

In [7]:
# Create SQLAlchemy Engine and empty bestofrt database
# bestofrt.db will not show up in the Jupyter Notebook dashboard yet
engine = create_engine('sqlite:///bestofrt.db')

### 2. Store pandas DataFrame in database
Store the data in the cleaned master dataset (bestofrt_master) in that database.

In [8]:
# Store cleaned master DataFrame ('df') in a table called master in bestofrt.db
# bestofrt.db will be visible now in the Jupyter Notebook dashboard
df.to_sql('master', engine, index=False)

### 3. Read database data into a pandas DataFrame
Read the brand new data in that database back into a pandas DataFrame.

In [9]:
df_gather = pd.read_sql('SELECT * FROM master', engine)

In [10]:
df_gather.head(3).T

,0,1,2
ranking,1,2,3
title,The Wizard of Oz (1939),Citizen Kane (1941),The Third Man (1949)
critic_score,99,100,100
number_of_critic_ratings,110,75,77
audience_score,89,90,93
number_of_audience_ratings,874425,157274,53081
review_url,http://www.rogerebert.com/reviews/great-movie-...,http://www.rogerebert.com/reviews/great-movie-...,http://www.rogerebert.com/reviews/great-movie-...
review_text,As a child I simply did not notice whether a m...,“I don't think any word can explain a man's li...,Has there ever been a film where the music mor...
poster_url,https://upload.wikimedia.org/wikipedia/commons...,https://upload.wikimedia.org/wikipedia/en/c/ce...,https://upload.wikimedia.org/wikipedia/en/2/21...