# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

* number of samples in each dataset
* number of columns in each dataset
* duplicate rows in each dataset
* datatypes of columns
* features with missing values
* number of non-null unique values for features in each dataset
* what those unique values are and counts for each

In [1]:
import pandas as pd

In [2]:
alpha08_df = pd.read_csv("all_alpha_08.csv")
alpha08_df.head().T

,0,1,2,3,4
Model,ACURA MDX,ACURA MDX,ACURA RDX,ACURA RDX,ACURA RL
Displ,3.7,3.7,2.3,2.3,3.5
Cyl,(6 cyl),(6 cyl),(4 cyl),(4 cyl),(6 cyl)
Trans,Auto-S5,Auto-S5,Auto-S5,Auto-S5,Auto-S5
Drive,4WD,4WD,4WD,4WD,4WD
Fuel,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
Sales Area,CA,FA,CA,FA,CA
Stnd,U2,B5,U2,B5,U2
Underhood ID,8HNXT03.7PKR,8HNXT03.7PKR,8HNXT02.3DKR,8HNXT02.3DKR,8HNXV03.5HKR
Veh Class,SUV,SUV,SUV,SUV,midsize car
Air Pollution Score,7,6,7,6,7
FE Calc Appr,Drv,Drv,Drv,Drv,Drv
City MPG,15,15,17,17,16
Hwy MPG,20,20,22,22,24
Cmb MPG,17,17,19,19,19
Unadj Cmb MPG,22.0527,22.0527,24.1745,24.1745,24.5629
Greenhouse Gas Score,4,4,5,5,5
SmartWay,no,no,no,no,no

In [3]:
alpha18_df = pd.read_csv("all_alpha_18.csv")
alpha18_df.head().T

,0,1,2,3,4
Model,ACURA RDX,ACURA RDX,ACURA RDX,ACURA RDX,ACURA TLX
Displ,3.5,3.5,3.5,3.5,2.4
Cyl,6,6,6,6,4
Trans,SemiAuto-6,SemiAuto-6,SemiAuto-6,SemiAuto-6,AMS-8
Drive,2WD,2WD,4WD,4WD,2WD
Fuel,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
Cert Region,FA,CA,FA,CA,CA
Stnd,T3B125,U2,T3B125,U2,L3ULEV125
Stnd Description,Federal Tier 3 Bin 125,California LEV-II ULEV,Federal Tier 3 Bin 125,California LEV-II ULEV,California LEV-III ULEV125
Underhood ID,JHNXT03.5GV3,JHNXT03.5GV3,JHNXT03.5GV3,JHNXT03.5GV3,JHNXV02.4WH3
Veh Class,small SUV,small SUV,small SUV,small SUV,small car
Air Pollution Score,3,3,3,3,3
City MPG,20,20,19,19,23
Hwy MPG,28,28,27,27,33
Cmb MPG,23,23,22,22,27
Greenhouse Gas Score,5,5,4,4,6
SmartWay,No,No,No,No,No
Comb CO2,386,386,402,402,330

In [4]:
alpha08_df.shape

(2404, 18)

In [5]:
alpha18_df.shape

(1611, 18)

In [6]:
alpha08_df.duplicated().sum()

25

In [7]:
alpha18_df.duplicated().sum()

0

In [8]:
alpha08_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [9]:
alpha18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [10]:
alpha08_df.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [11]:
alpha18_df.isnull().sum()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [12]:
alpha08_df.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [13]:
alpha18_df.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

In [14]:
alpha08_df["Fuel"].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'], dtype=object)

In [15]:
alpha18_df["Fuel"].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)